<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a494c8">  <td>22/06/29 15:13:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testClass.enterusername()[pri:0, instance:vipya_bhai_test.testClass@63021689]">enterusername</td> 
  <td>main@294247762</td>   <td></td> </tr>
<tr bgcolor="a494c8">  <td>22/06/29 15:13:39</td>   <td>3662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testClass.enterusername()[pri:0, instance:vipya_bhai_test.testClass@3d51f06e]">enterusername</td> 
  <td>main@294247762</td>   <td></td> </tr>
<tr bgcolor="c360f1">  <td>22/06/29 15:13:32</td>   <td>-3282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:vipya_bhai_test.testClass@63021689]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@294247762</td>   <td></td> </tr>
<tr bgcolor="c360f1">  <td>22/06/29 15:13:38</td>   <td>2386</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:vipya_bhai_test.testClass@3d51f06e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@294247762</td>   <td></td> </tr>
</table>
